parameters:
    database:
        driver: mysql
        host: localhost
        dbname: test
        user: testuser
        password: testpassword
services:
    database: @Nette\Database\Connection
    authenticator: Authenticator( @database::table(users) )
nette:
    database:
        default:
            dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
            user: %database.user%
            password: %database.password%
